<p>
Width: {{input value=view.width}}
Height: {{input value=view.height}}
</p>
<p>
  clientX: {{view.clientX}}
  clientY: {{view.clientY}}
  offsetX: {{view.offsetX}}
  offsetY: {{view.offsetY}}
  pageX: {{view.pageX}}
  pageY: {{view.pageY}}
  type: {{view.type}}
</p>

<div id="cube"></div>
