<p>
Width: {{input value=view.width}}
Height: {{input value=view.height}}
  z: {{input value=view.z}}
</p>
<p>
  clientX: {{view.clientX}}
  clientY: {{view.clientY}}
  offsetX: {{view.offsetX}}
  offsetY: {{view.offsetY}}
  oldPageX: {{view.oldPageX}}
  oldPageY: {{view.oldPageY}}
  pageX: {{view.pageX}}
  pageY: {{view.pageY}}

</p>

<div id="cube"></div>
