<p>
  Width: {{input value=view.width}}
  Height: {{input value=view.height}}
  z: {{input value=view.z}}
</p>
<p>
  clientX: {{view.clientX}}
  clientY: {{view.clientY}}
  offsetX: {{view.offsetX}}
  offsetY: {{view.offsetY}}
  pageX: {{view.pageX}}
  pageY: {{view.pageY}}
</p>

<p>
  canvasWidth: {{view.canvasWidth}}
  canvasHeight: {{view.canvasHeight}}
</p>

<canvas class="graph" width="1000" height="1000"></canvas>
